# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# x86 output
**/Debug
**/Release

# x64 output
**/x64/Debug
**/x64/Release

# vs directory
**/.vs
**/.vscode

# user files
*.vcxproj.user

# Bin output
bin/

# Build output
build/
wheel/

# Cache folders
__pycache__/
.pytest_cache/

# Test dumps
*.dmp

# Version files
src/lib/kdmp-parser-version.h

kdmp-parser-testdatas

